<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1>Manage Products</h1>
      <hr />
    </div>
    <div class="container">
      <div class="form-area">
        <h3>CreateProduct</h3>
        <form
          #productsForm="ngForm"
          (ngSubmit)="OnProductCreate(productsForm.value)"
        >
          <div class="col-6">
            <label><b>Product Name</b></label
            ><br />
            <input
              type="text"
              class="form-control mb-2"
              name="pName"
              ngModel
            /><br />
          </div>
          <div class="col-6">
            <label><b>Product Description</b></label>
            <input
              type="text"
              class="form-control mb-2"
              name="desc"
              ngModel
            /><br />
          </div>
          <div class="col-6">
            <label><b>Product Price</b></label
            ><br />
            <input
              type="text"
              class="form-control mb-2"
              name="price"
              ngModel
            /><br />
          </div>
          <div>
            <br />
            <input
              type="submit"
              class="btn btn-primary"
              value="{{ editMode ? 'Update Product' : 'Add Product' }}"
            />
          </div>
        </form>
      </div>

      <div style="overflow-x: auto" class="product-display-area">
        <h3>All Products</h3>
        <table id="products">
          <tr>
            <td>S.No</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Actions</td>
          </tr>
          <tr *ngIf="allproducts.length < 1 && !isfetching">
            <td colspan="5">No products Available</td>
          </tr>
          <tr *ngIf="errormessage">
            <td colspan="5">{{ errormessage }}</td>
          </tr>
          <tr *ngIf="isfetching && !errormessage">
            <td colspan="5">Loading .....</td>
          </tr>
          <tr *ngFor="let prod of allproducts; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ prod.pName }}</td>
            <td>{{ prod.desc }}</td>
            <td>{{ prod.price }}</td>

            <td>
              <button
                class="btn btn-primary"
                (click)="onDeleteProduct(prod.id)"
              >
                Delete
              </button>
            </td>
            <td>
              <button class="btn btn-primary" (click)="onEditClicked(prod.id)">
                Edit
              </button>
            </td>
          </tr>
        </table>
        <br />

        <input
          style="text-align: center"
          type="submit"
          value="Fetch Product"
          (click)="onProductsFetch()"
        /><br /><br />
        <input
          type="submit"
          value="Clear Products"
          (click)="onDeleteAllProducts()"
        />
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />

<div>
  <button (click)="Test()" class="btn btn-primary">Observables</button>
</div>
<br />
<div>
  <button (click)="unsubscr()" class="btn btn-secondary">
    ObservableUnsubscribe
  </button>
</div>

<br />
<br />
<hr />
<div>
  <div>
    <app-form></app-form>
    <table class="table tabled-bordered mt-3 w-50">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.mobile }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
